asrm.dev {
    log {
        output stdout
        format console
        level DEBUG
    }

    handle_path /clinicamv* {
        @api path /api*
        handle @api {
        root * /var/www/public
        php_fastcgi clinicamv-php:9000
        }
        handle {
        reverse_proxy clinicamv-frontend:80
        }
    }

    handle_path /presentacion* {
        root * /srv/presentacion
        file_server
    }

    root * /srv/web-personal
    file_server
}

